<section class="reliably">
    <div class="container">
        <div class="reliably__title">С нами надежно</div>
        <div class="reliably__wrap">
            <div class="reliably__left desktop">
                <p>
                    Компания Еврокран успешно работает на территории РФ с 2000 года.
                    <br>
                    <br>
                    В нашем автопарке гусеничные и мобильные краны известного немецкого бренда.
                    <br>
                    <br>
                    Среди них есть модели любой грузоподъемности, для погрузочных, монтажных, транспортировочных и
                    других работ.
                    <br>
                    <br>
                    Обращение в компанию гарантирует комплексный подход к решению поставленных задач. Получить больше
                    информации можно у менеджеров Компании Еврокран.
                </p>

                @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                "className": "reliably__btn",
                "link": "#",
                "text": "Заказать звонок"
                })

            </div>
            <div class="reliably__right">

                <ul class="reliably__list">
                    <li class="reliably__item">
                        <img src="img/reliably1.png" alt="reliably1">
                        <div class="reliably__item-text">Поставка техники точно в срок</div>
                    </li>
                    <li class="reliably__item">
                        <img src="img/reliably2.png" alt="reliably2">
                        <div class="reliably__item-text">Сопровождение спецтехники</div>
                    </li>
                    <li class="reliably__item">
                        <img src="img/reliably3.png" alt="reliably3">
                        <div class="reliably__item-text">Квалифицированнные специалисты</div>
                    </li>
                    <li class="reliably__item">
                        <img src="img/reliably4.png" alt="reliably4">
                        <div class="reliably__item-text">Автопарк от ведущих мировых производителей</div>
                    </li>
                </ul>
            </div>
            <div class="reliably__left mobile">
                <p>
                    Компания Еврокран успешно работает на территории РФ с 2000 года.
                    <br>
                    <br>
                    В нашем автопарке гусеничные и мобильные краны известного немецкого бренда.
                    <br>
                    <br>
                    Среди них есть модели любой грузоподъемности, для погрузочных, монтажных, транспортировочных и
                    других работ.
                    <br>
                    <br>
                    Обращение в компанию гарантирует комплексный подход к решению поставленных задач. Получить больше
                    информации можно у менеджеров Компании Еврокран.
                </p>
                <div class="reliably__button">
                    @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                    "className": "reliably__btn",
                    "link": "#",
                    "text": "Заказать звонок"
                    })
                </div>
            </div>
        </div>
    </div>
</section>