<div class="top-header">
    <div class="container">
        <div class="top-header__wrap">
            <a class="top-header__logo" href="/">
                <img class="top-header__logo-img" src="img/logo.png" alt="logo">
                <p class="top-header__logo-text">Аренда спецтехники LIEBHERR c 2000 года</p>
            </a>
            <div class="top-header__contact">
                <div class="top-header__contact-time">
                    <img src="img/time-ico.png" alt="">
                    <p>10:00-17:00</p>
                </div>
                <div class="top-header__contact-time">
                    <img src="img/point-ico.png" alt="">
                    <p>г. Москва,<br>ул. Куликовская, 12</p>
                </div>
            </div>
            <a class="top-header__btn" href="#">Свяжитесь со мной</a>
            <div class="top-header__call">
                <img src="img/phone-ico.png" alt="">
                <div class="top-header__call-wrap">
                    <a href="#">+7 (499)929-96-66</a>
                    <a href="#">+7 (985)364-55-18</a>
                    <a href="#">+7 (985)226-20-30</a>
                </div>
            </div>
        </div>

    </div>
</div>