<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="menu-burger">
                <span></span>
            </div>
            <nav class="topnav">
                <ul class="menu-header">
                    <li class="menu-item">
                        <a class="@@item-active1" href="@@menu-url1">Каталог</a>
                    </li>
                    <li class="menu-item">
                        <a class="@@item-active2" href="@@menu-url2">О компании</a>
                    </li>
                    <li class="menu-item">
                        <a class="@@item-active3" href="@@menu-url3">Объекты</a>
                    </li>
                    <li class="menu-item">
                        <a class="@@item-active4" href="@@menu-url4">Блог</a>
                    </li>
                    <li class="menu-item">
                        <a class="@@item-active5" href="@@menu-url5">Контакты</a>
                    </li>
                </ul>
            </nav>
            <nav class="topnav-mobile">
                <ul class="menu-header-mobile">
                    <li class="menu-item-mobile">
                        <a class="@@item-active1" href="@@menu-url1">Каталог</a>
                    </li>
                    <li class="menu-item-mobile">
                        <a class="@@item-active2" href="@@menu-url2">О компании</a>
                    </li>
                    <li class="menu-item-mobile">
                        <a class="@@item-active3" href="@@menu-url3">Объекты</a>
                    </li>
                    <li class="menu-item-mobile">
                        <a class="@@item-active4" href="@@menu-url4">Блог</a>
                    </li>
                    <li class="menu-item-mobile">
                        <a class="@@item-active5" href="@@menu-url5">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__find">
                <input type="text">
                <a href="#">
                    <img src="img/find-ico.png" alt="find-ico">
                </a>
            </div>
        </div>
    </div>
</header>