<section class="arenda">
    <img src="img/arenda-back.png" alt="img-background">
    <div class="container">
        <div class="arenda__title"><span>Спецтехника</span> в аренду</div>
    </div>
    <div class="arenda__slider">
        <div class="arenda__item">
            <div class="arenda__wrap">
                <div class="arenda__left">
                    <img src="img/arenda1.png" alt="arenda-img1">
                </div>
                <div class="arenda__right">
                    <div class="arenda__pagination">
                    </div>
                    <div class="arenda__right-title">Гусеничные краны</div>
                    <div class="arenda__right-text">Аренда гусеничного крана – актуальная услуга для многих строительных
                        площадок. Использование спецтехники существенно упрощает погрузку - выгрузку материалов,
                        оптимизирует рабочий процесс.</div>
                    @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                    "className": "arenda__btn",
                    "link": "#",
                    "text": "Выбрать спецтехнику"
                    })
                </div>
            </div>
        </div>

        <div class="arenda__item">
            <div class="arenda__wrap">
                <div class="arenda__left">
                    <img src="img/arenda1.png" alt="arenda-img1">
                </div>
                <div class="arenda__right">
                    <div class="arenda__pagination">
                    </div>
                    <div class="arenda__right-title">Гусеничные краны</div>
                    <div class="arenda__right-text">Аренда гусеничного крана – актуальная услуга для многих строительных
                        площадок. Использование спецтехники существенно упрощает погрузку - выгрузку материалов,
                        оптимизирует рабочий процесс.</div>
                    @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                    "className": "arenda__btn",
                    "link": "#",
                    "text": "Выбрать спецтехнику"
                    })
                </div>
            </div>
        </div>

        <div class="arenda__item">
            <div class="arenda__wrap">
                <div class="arenda__left">
                    <img src="img/arenda1.png" alt="arenda-img1">
                </div>
                <div class="arenda__right">
                    <div class="arenda__pagination">
                    </div>
                    <div class="arenda__right-title">Гусеничные краны</div>
                    <div class="arenda__right-text">Аренда гусеничного крана – актуальная услуга для многих строительных
                        площадок. Использование спецтехники существенно упрощает погрузку - выгрузку материалов,
                        оптимизирует рабочий процесс.</div>
                    @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                    "className": "arenda__btn",
                    "link": "#",
                    "text": "Выбрать спецтехнику"
                    })
                </div>
            </div>
        </div>
    </div>
    </div>

</section>