.arenda {
    background-color: #fff;
    position: relative;

    img {
        position: absolute;
        top: 75px;
        right: 0;
    }

    &__title {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 141.69%;
        color: #2D2D2D;
        padding-top: 50px;
        margin-bottom: 55px;

        span {
            color: #FF971D;
        }
    }

    &__slider {
        .slick-list {
            overflow: visible !important;
        }
    }

    &__wrap {
        display: flex;
        height: 100%;
    }

    &__left {
        width: 50%;
        position: relative;

        img {
            display: block;
            height: 458px;
            position: absolute;
            top: 0px;
            right: 0;
            z-index: 99;
        }
    }

    &__right {
        width: 50%;
        text-align: left;
        position: relative;
    }

    &__right.column {
        display: none;
    }

    &__right-title {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 142.19%;
        color: #2D2D2D;
        margin-bottom: 35px;
    }

    &__right-text {
        width: 566px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.69%;
        color: #2D2D2D;
        margin-bottom: 35px;
    }

    &__btn {
        margin-bottom: 130px;
    }




    .arrow-wrap {
        display: flex;
        position: absolute;
        left: calc(50% + 450px);
        bottom: 60px;
        z-index: 999;
    }

    .arr-prev,
    .arr-next {
        width: 30px;
        height: 8px;
        position: relative;
        cursor: pointer;
    }

    .arr-prev:before,
    .arr-next:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border: 2px solid #FF971D;
        position: absolute;
        top: -17px;
        opacity: 0;
    }

    .arr-prev {
        background: url("../img/arrow-prev-disable.png") no-repeat !important;
        margin-right: 10px;

        &:hover:before {
            opacity: 1;
        }

        &:before {
            left: -20px;
        }
    }

    .arr-next {
        background: url("../img/arrow-next-disable.png") no-repeat !important;

        &:hover:before {
            opacity: 1;
        }

        &:before {
            left: 15px;
        }
    }

    &__pagination {
        display: flex;
        width: calc(50% - 50px);
        height: 4px;
        background-color: #C4C4C4;
        position: absolute;
        bottom: 20px;
        right: 25px;
        z-index: 999;

        &-item {
            width: 50%;
            background-color: #C4C4C4;
            transition: .5s;

            &.active {
                background-color: #535554;
            }

        }
    }


    .slick-dots {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);

        li {
            height: 4px;
            width: 50%;
            background: #C4C4C4;
            cursor: pointer;
            margin: 0;
            & button:before{
                content: '';
                padding: 0;
            }
        }
        .slick-active{
            background-color: #535554;            
        }
    }
}

@media screen and (max-width: 1175px) {
    .arenda {
        &__wrap {
            display: flex;
            flex-direction: column;
        }

        &__left {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                position: static;
            }
        }

        &__right.row {
            display: none;
        }

        &__right.column {
            display: block;
            width: 100%;
            text-align: left;
            position: relative;
            // margin-bottom: 75px;
        }

        &__right-title {
            padding-top: 55px;
        }

        &__right-text {
            width: 100%;
        }

        .arrow-wrap {
            left: auto;
            right: 70px;
        }

        &__pagination {
            width: calc(100% - 50px);
            left: 50%;
            transform: translateX(-50%);
        }

    }
}

@media screen and (max-width: 768px) {
    .arenda {
        &>img {
            display: none;
        }

        &__left {
            display: block;
            max-width: 100%;

            // object-fit: contain;
            img {
                max-width: 100%;
                height: auto;

            }
        }
    }
}

@media screen and (max-width: 350px) {
    .arenda {
        &__btn {
            padding: 15px 30px;
        }
    }
}