<section class="main-slider">
    <div class="main-slider__numbers"></div>
    <div class="main-slider__slider">
        <div class="main-slider__item" style="background-image: url('img/main-slider1.png');">
            <div class="main-slider__canvas"></div>
            <div class="container">
                <div class="main-slider__container-wrap">
                    <h1 class="main-slider__title">Аренда спецтехники Liebherr для любых задач</h1>
                    <h2 class="main-slider__subtitle">Мобильные, гусеничные и башенные краны LIEBHERR в аренду для любых
                        задач и грузов. работаем по всей России
                    </h2>
                    <div class="main-slider__btn-wrap">
                        @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                            "className": "main-slider__btn",
                            "link": "#", 
                            "text": "Заказать звонок"
                        })
                        @@include('../../../components/bem-blocks/Buttons/ButtonTransparent/ButtonTransparent.html', {
                            "link": "#", 
                            "text": "Каталог техники"
                        })
                    </div>
                </div>
            </div>
            <img src="img/main-slider1_back.png" alt="back-img" class="main-slider__img">
        </div>
        <div class="main-slider__item" style="background-image: url('img/main-slider1.png');">
            <div class="main-slider__canvas"></div>
            <div class="container">
                <div class="main-slider__container-wrap">
                    <h1 class="main-slider__title">Аренда спецтехники Liebherr для любых задач</h1>
                    <h2 class="main-slider__subtitle">Мобильные, гусеничные и башенные краны LIEBHERR в аренду для любых
                        задач и грузов. работаем по всей России
                    </h2>
                    <div class="main-slider__btn-wrap">
                        @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                            "className": "main-slider__btn",
                            "link": "#", 
                            "text": "Заказать звонок"
                        })
                        @@include('../../../components/bem-blocks/Buttons/ButtonTransparent/ButtonTransparent.html', {
                            "link": "#", 
                            "text": "Каталог техники"
                        })
                    </div>
                </div>
            </div>
            <img src="img/main-slider1_back.png" alt="back-img" class="main-slider__img">
        </div>
        <div class="main-slider__item" style="background-image: url('img/main-slider1.png');">
            <div class="main-slider__canvas"></div>
            <div class="container">
                <div class="main-slider__container-wrap">
                    <h1 class="main-slider__title">Аренда спецтехники Liebherr для любых задач</h1>
                    <h2 class="main-slider__subtitle">Мобильные, гусеничные и башенные краны LIEBHERR в аренду для любых
                        задач и грузов. работаем по всей России
                    </h2>
                    <div class="main-slider__btn-wrap">
                        @@include('../../../components/bem-blocks/Buttons/ButtonColor/ButtonColor.html', {
                            "className": "main-slider__btn",
                            "link": "#", 
                            "text": "Заказать звонок"
                        })
                        @@include('../../../components/bem-blocks/Buttons/ButtonTransparent/ButtonTransparent.html', {
                            "link": "#", 
                            "text": "Каталог техники"
                        })
                    </div>
                </div>
            </div>
            <img src="img/main-slider1_back.png" alt="back-img" class="main-slider__img">
        </div>
    </div>
</section>