<section class="numbers">
    <div class="container">
        <ul class="numbers__list">
            <li class="numbers__item">
                <div class="numbers__item-number">20</div>
                <div class="numbers__item-text">лет на рынке</div>
            </li>
            <li class="numbers__item">
                <div class="numbers__item-number">1 000+</div>
                <div class="numbers__item-text">выполненных проектов</div>
            </li>
            <li class="numbers__item">
                <div class="numbers__item-number">20+</div>
                <div class="numbers__item-text">единиц техники всегда в наличии</div>
            </li>
        </ul>
    </div>
</section>