.button-transparent {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #2D2D2D;
    padding: 15px 45px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 141.69%;
    color: #2D2D2D;
    transition: .5s;
    &:hover {
        background-color: #2D2D2D;
        color: #fff;
    }
}